<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex-Checkout! A01262284</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/universal.css">
    <link rel="stylesheet" href="styles/checkout.css">
    <link rel="stylesheet" href="styles/universal-mq.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>
            Jose Alfonso Clarito - Checkout!
        </h1>
    </header>

    <!-- Navbar -->
    <nav>
        <a class="navlink-container" id="home" href="/home">
            <span class="navlink">Home</span>
        </a>
        <a class="navlink-container" id="search" href="/search">
            <span class="navlink">Search</span>
        </a>
        <a class="navlink-container" id="timeline" href="/timeline">
            <span class="navlink">Timeline</span>
        </a>
        <a class="navlink-container" id="checkout" href="/checkout">
            <span class="navlink">Checkout</span>
        </a>
        <a class="navlink-container" id="receipts" href="/receipts">
            <span class="navlink">Receipts</span>
        </a>
        <a class="navlink-container" id="logout" href="/auth/logout">
            <span class="navlink">Logout</span>
        </a>
    </nav>

    <!-- Shopping Cart -->
    <main>
        <h2>Your current order: <%= orderId %> by <%= orderedBy %></h2> 
        <section id="products">
            <% products.forEach(item => { %>
                <div class="single-product">
                    <div class="prod-pokeId"><%= item.id %></div>
                    <div class="prod-name"><%= item.name %></div>
                    <div class="prod-singlecost"><%= item.cost %></div>
                    <div class="prod-quantity"><%= item.quantity %></div>
                </div>
            <% }) %>
        </section>
        <div>Your subtotal is <%= productsCost %>  </div>
        <div>+ <%= taxCost %> tax percentage </div>
        <div>For a total of <%= totalCost %></div>
        <input type="submit" value="Checkout">
    </main>
    
    <!-- Footer -->
    <footer>
        <h5>
            Copyright © FonseLULW; API from 
            <a href="https://pokeapi.co">pokeAPI</a>
        </h5>
    </footer>
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/universal.js"></script>
    <script src="/scripts/events.js"></script>
    <script src="/scripts/checkout.js"></script>
</body>
</html>