<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex-Checkout! A01262284</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/universal.css">
    <link rel="stylesheet" href="styles/checkout.css">
    <link rel="stylesheet" href="styles/universal-mq.css">
</head>

<body>
    <!-- Header -->
    <header>
        <h1>
            Jose Alfonso Clarito - Checkout!
        </h1>
    </header>

    <!-- Navbar -->
    <nav>
        <a class="navlink-container" id="home" href="/home">
            <span class="navlink">Home</span>
        </a>
        <a class="navlink-container" id="search" href="/search">
            <span class="navlink">Search</span>
        </a>
        <a class="navlink-container" id="timeline" href="/timeline">
            <span class="navlink">Timeline</span>
        </a>
        <a class="navlink-container" id="checkout" href="/checkout">
            <span class="navlink">Checkout</span>
        </a>
        <a class="navlink-container" id="receipts" href="/receipts">
            <span class="navlink">Receipts</span>
        </a>
        <a class="navlink-container" id="logout" href="/auth/logout">
            <span class="navlink">Logout</span>
        </a>
    </nav>

    <!-- Shopping Cart -->
    <main id="shopcart">
        <% if (noActiveOrders) { %>
            <h2 id="none">Shopping Cart is empty!</h2>
            <% } else { %>

                <h2>You have <b>
                        <%= cartSize %>
                    </b> different pokemon in your shopping cart!</h2>

                <div id="orderID" style="display: none">
                    <%= orderId %>
                </div>

                <table id="products">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Pokemon</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <% products.forEach(item=> { %>
                        <tr class="single-product" id="<%= item._id%>">
                            <td class="deleteItem">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </td>
                            <td class="prod-pokeId">
                                #<%= item.id %>
                            </td>
                            <td class="prod-name">
                                <%= item.name[0].toUpperCase() + item.name.substring(1) %>
                            </td>
                            <td class="prod-singlecost">
                                <%= (item.cost).toLocaleString('en-GB', { style: 'currency' , currency: 'CAD' }) %>
                            </td>
                            <td class="prod-quantity">
                                <button class="quantity-control minus">-</button>
                                <span class="quantity">
                                    <%= item.quantity %>
                                </span>
                                <button class="quantity-control add">+</button>
                            </td>
                            <td class="prod-singlecost">
                                <%= (item.cost * item.quantity).toLocaleString('en-GB', { style: 'currency' ,
                                    currency: 'CAD' }) %>
                            </td>
                        </tr>
                        <% }) %>
                            <tr class="bottomline">
                                <td class="label" colspan="5">Subtotal Cost</td>
                                <td>
                                    <%= productsCost.toLocaleString('en-GB', { style: 'currency' , currency: 'CAD' }) %>
                                </td>
                            </tr>
                            <tr class="bottomline">
                                <td class="label" colspan="5">
                                    <%= taxCost * 100 %>% Sales Tax
                                </td>
                                <td>
                                    <%= (taxCost * productsCost).toLocaleString('en-GB', { style: 'currency' ,
                                        currency: 'CAD' }) %>
                                </td>
                            </tr>
                            <tr class="bottomline finaltally">
                                <td class="label" colspan="5">Total</td>
                                <td>
                                    <%= totalCost.toLocaleString('en-GB', { style: 'currency' , currency: 'CAD' }) %>
                                </td>
                            </tr>
                </table>
                <div id="submit-controls">
                    <button class="submit">Checkout</button>
                    <button class="deleteAllItems">Empty Cart</button>
                </div>
                <% } %>
    </main>

    <!-- Footer -->
    <footer>
        <h5>
            Copyright © FonseLULW; API from
            <a href="https://pokeapi.co">pokeAPI</a>
        </h5>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/universal.js"></script>
    <script src="/scripts/events.js"></script>
    <script src="/scripts/checkout.js"></script>
</body>

</html>