<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex-Profile! A01262284</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/universal-mq.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>
            Jose Alfonso Clarito - Pokedex!
        </h1>
    </header>

    <!-- Navbar -->
    <nav>
        <a class="navlink-container" id="home" href="/">
            <span class="navlink">Home</span>
        </a>
        <a class="navlink-container" id="search" href="/search">
            <span class="navlink">Search</span>
        </a>
        <a class="navlink-container" id="timeline" href="/timeline">
            <span class="navlink">Timeline</span>
        </a>
    </nav>

    <!-- Main -->
    <main id="content">
        <!-- Image -->
        <figure id="pImg">
            <img alt="<%= pokemon.name %>" src="<%= pokemon.sprites.other["official-artwork"].front_default %>">
        </figure>

        <!-- Name & Id-->
        <h2 id="pIdentity">
            <div id="pName"><%= pokemon.name.toUpperCase() %></div>
            <div id="pID"><%= pokemon.id %></div>
        </h2>

        <!-- Type  -->
        <div id="pTypes">
            <h3>Types</h3>
            <% pokemon.types.forEach((elem) => { %>
                <div class="types info"><%= elem.type.name.toUpperCase() %></div>
            <% }) %>
        </div>

        <!-- Stats -->
        <div id="pStats">
            <h3 id="h3Stats">Stats</h3>
            <% pokemon.stats.forEach((elem) => { %>
                <div class="stats info">
                    <div class="statname"><%= elem.stat.name.toUpperCase() %></div>
                    <progress class="statpts" value="<%= elem.base_stat %>" max="255"><%= elem.base_stat %></progress>
                </div>
            <% }) %>
        </div>

        <!-- Abilities -->
        <div id="pAbilities">
            <h3>Abilities</h3>
            <% pokemon.abilities.forEach((elem) => { %>
                <div class="ables info"><%= elem.ability.name.toUpperCase() %></div>
            <% }) %>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <h5>
            Copyright © FonseLULW; API from 
            <a href="https://pokeapi.co/">pokeapi.co</a>
        </h5>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/universal.js"></script>
    <script src="/scripts/events.js"></script>
    <script src="/scripts/profile.js"></script>
</body>
</html>