<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex-Receipts! A01262284</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/universal.css">
    <link rel="stylesheet" href="styles/receipts.css">
    <link rel="stylesheet" href="styles/universal-mq.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>
            Jose Alfonso Clarito - Receipts!
        </h1>
    </header>

    <!-- Navbar -->
    <nav>
        <a class="navlink-container" id="home" href="/home">
            <span class="navlink">Home</span>
        </a>
        <a class="navlink-container" id="user" href="/user">
            <span class="navlink">Profile</span>
        </a>
        <a class="navlink-container" id="search" href="/search">
            <span class="navlink">Search</span>
        </a>
        <a class="navlink-container" id="timeline" href="/timeline">
            <span class="navlink">Timeline</span>
        </a>
        <a class="navlink-container" id="checkout" href="/checkout">
            <span class="navlink">Checkout</span>
        </a>
        <a class="navlink-container" id="receipts" href="/receipts">
            <span class="navlink">Receipts</span>
        </a>
        <a class="navlink-container" id="logout" href="/auth/logout">
            <span class="navlink">Logout</span>
        </a>
    </nav>

    <!-- Receipts -->
    <main>
        <h2>Your Orders (No refunds)</h2>
        <section id="orders">
        <% data.forEach(order => { %>
            <div class="single-order <%= order.orderStatus %>">
                <div class="o-id"><%= order._id %></div>
                <div class="o-timestamp"><%= order.createdAt %></div>
                <div class="o-subtotal"><%= order.productsCost %></div>
                <div class="o-tax"><%= order.taxCost * 100 %></div>
                <div class="o-total"><%= order.totalCost %></div>
                <div class="o-status"><%= order.orderStatus %></div>
            </div>
        <% }) %>
        </section>
    </main>
    
    <!-- Footer -->
    <footer>
        <h5>
            Copyright © FonseLULW; API from 
            <a href="https://pokeapi.co">pokeAPI</a>
        </h5>
    </footer>
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/universal.js"></script>
    <script src="/scripts/events.js"></script>
    <script src="/scripts/receipts.js"></script>
</body>
</html>